/* Webflow Exact Match CSS - Downloaded from original site */
@import url('https://assets.website-files.com/622fa56ecc9274a545158f70/css/shureprint2022.1058f7a4e.css');

/* Override any Next.js defaults */
* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    min-height: 100%;
    background-color: #f6efe8;
    font-family: 'Lato', sans-serif;
    font-size: 1vw;
    line-height: 1.4;
    font-weight: 400;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Selection */
::selection {
    background: #e3fc02;
    color: #000;
}

::-moz-selection {
    background: #e3fc02;
    color: #000;
}
